.DS_Store
.AppleDouble
.LSOverride
._*
.Trashes
*.spotlight-generated
*.o
*.out
*.dylib
*.a
*.tmp
*.log
/tmp/
.vscode/
.idea/
*.xcodeproj/
!*.xcodeproj/project.pbxproj
*.xcworkspace/
xcuserdata/
DerivedData/
*.command.bak
test_*.sh
